@page "/Primera"

<div class=e104_2>
  <div class="e97_17"></div>
  <div class="e97_18"></div><span  class="e97_19">INICIAR SESION</span><span  class="e97_20">REGISTRAR</span>
  <div class="e129_314"></div>
  <div class="e129_315"></div>
</div>

@code {

}
