@page "/Registroplus"

<PageTitle>registro avanzado</PageTitle>

@*<h1>registro avanzadoo</h1>*@
<div class=e205_334>
  <div class="e205_335"></div><span  class="e205_340">REGISTRAR DATOS</span><span  class="e205_342">LOCALIDAD</span><span  class="e205_346">SOY TATUADOR</span><span  class="e205_348">ESTILO</span><span  class="e205_349">TIENGO UN ESTUDIO</span><span  class="e205_524">FOTO PORTADA</span><span  class="e205_350">NOMBRE ESTUDIO</span><span  class="e205_351">DIRECCION</span><span  class="e205_352">HORARIOS</span><span  class="e205_362">INFORMACION</span><span  class="e205_363">IARTISTAS AUTORIZADOS</span><span  class="e205_361">TELEFONO</span><span  class="e205_355">NIVEL
</span>
  <div class="e205_356"></div>
  <div class="e205_366"></div>
  <div class="e205_367"></div>
  <div class="e205_357"></div>
  <div class="e205_369"></div>
  <div class="e205_368"></div>
  <div class="e205_358"></div>
  <div class="e205_359"></div>
  <div class="e205_360"></div>
  <div class="e205_523"></div><span  class="e205_556">FOTO ESTUDIO</span>
  <div class="e205_557"></div><span  class="e205_570">REDES SOCIALES</span>
  <div class="e205_573"></div>
  <div class="e205_574"></div>
  <div class="e205_575"></div>
  <div class=e205_577>
    <div class="e205_578"></div>
    <div class="e205_579"></div>
  </div>
  <div class="e205_580"></div>
  <div class="e205_581"></div>
  <div class=e205_568><span  class="e205_345">SOY ARTISTA</span><span  class="e205_347">ESTILO</span><span  class="e205_354">NIVEL
</span>
    <div class="e205_364"></div>
    <div class="e205_365"></div>
    <div class=e205_558><span  class="e205_559">SI</span>
      <div class="e205_560"></div>
    </div>
  </div><span  class="e205_562">SI</span>
  <div class="e205_563"></div>
  <div class=e205_564><span  class="e205_565">SI</span>
    <div class="e205_566"></div>
  </div>
  <div class=e205_591><span  class="e205_592">SI</span>
    <div class="e205_593"></div>
  </div>
</div>